//VARIABLES
@dark-purple:#070439;
@purple:#585989;
@light-purple:#F6F6FE;
@header-height:9rem;
@img-width:40%;


//MIXINS

.padding {
	padding-left:3rem;
	padding-right:3rem;
}

.line-height {
	line-height:2;
}


body {
	margin:0rem;
	#wrapper {
		padding-bottom:20.5625rem;
		header { 
			// position:absolute; width:100%; 
			.padding();
		}
		main {
			#feature1 {
				.padding();
				#feature1-info { max-width:50%; }
				#illustration-1 { width:@img-width; }		
			}

			#feature2 {
				margin-top:5rem; .padding(); background-color:@light-purple; 
				#feature2-info {
					max-width:50%;
					#description { line-height:2; margin-top:1rem; margin-bottom:1rem;}
					// padding-right: 5rem;
					#author-info {
						#job-description { font-size:0.8rem; }
					}
				}
				#quote { 
					background-color:#FFFFFF;
					// #avatar { width:20%; } 
				}
				#illustration-2 { width:@img-width; }
			}

			#advertisement {
				padding:3rem; display:flex; justify-content:space-between; align-items:center; background-color:@purple; color:#FFFFFF;
				#get-access-container  { max-width:40%; flex-grow:1;}
				#input-container {
					// display:flex; flex-direction:column;
					#newsletter-input { max-width:90%; }
				}
			}
		}
		footer { 
			padding:3rem; background-color:@dark-purple; color:#FFFFFF; position:absolute; width:100%; bottom:0; 
			#footer-logo { filter:invert(100%); }
			#footer-content {
				padding-right:10rem;
				#icons { font-size:1.5rem; }
			}
			
			a:visited,
			a:link
				{ color:#FFFFFF; }
		}	
	}
}

@media  (max-width: 992px) {

	body {
		#wrapper {
			main {

				#feature1 {
					flex-direction:column; text-align:center;
					#feature1-info { order:1; }
					#input-container { 
						display:block !important;
						input { width:100% !important; }
					}
					.get-started-container { 
						margin-left:auto !important; margin-top:1rem;
						button { width:100%; }
					}
				}


				#feature2 {
					flex-direction:column;
					#feature2-info { 
						padding:0; order:1;
						#texts-container { width:100% !important; }
					}
					#quote { 
						width:auto;
						#avatar-container { width:20%; } 
					}
				}

				#advertisement {
					flex-direction:column; text-align:center;
					#get-access-container { width:auto; }
					#input-container { 
						width:100%; align-items:center;
							// #newsletter-input { width:90%; }
						.get-started-free-container { 
							width:100%;
							button { width:100%; }
						}
					}
				}
			}

			footer {
				#footer-content { 
					padding:0; display:block !important;
					#page-nav { 
						display:block !important; margin-top:2rem;
						#contact-col {
							margin-top:2rem;
						}
					}
					#icons { text-align:center; }
				}
			}
		}
	}
}